@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  /* Why do we use transition 
    CSS transitions allows you to change property values smoothly, over a given duration.                             */
}

:root {
  --red: red;
  --green: #27ae60;
  --white: #fff;
  --lighter-green: #97bc62ff;
  --darker-green: #2c5f2dff;
  --black: #000;
  --lighter-black: #1b1a18;
  --grey: #666;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  background: var(--darker-green);
  color: var(--white);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1b1a18;
  padding: 2rem 9%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--white);
}

header .logo i {
  padding-right: 0.5rem;
  color: var(--green);
}

header .phone a {
  font-size: 2rem;
  color: var(--white);
  border: 2px solid var(--green);
  border-radius: 50px;
  padding: 10px 25px;
}

#menu-bar {
  font-size: 3rem;
  cursor: pointer;
  color: #666;
  border: 0.1rem solid #666;
  border-radius: 0.3rem;
  padding: 0.5rem 1.5rem;
  display: none;
}

header .navbar a {
  font-size: 2rem;
  margin-left: 2rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  color: var(--white);
}

header .navbar a.active,
header .phone a:hover,
header .navbar a:hover {
  color: var(--white);
  background: var(--green);
}

.section1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)),
    url("images/matteo-vistocco-V2gzuCVlRhc-unsplash.jpg");
  width: 100%;
  height: 80vh;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section1 .content h2 {
  color: var(--white);
  font-size: 11rem;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  letter-spacing: 10px;
}

.section1 button {
  background-color: var(--lighter-black);
  color: var(--white);
  padding: 20px 50px;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  font-family: "Kanit", sans-serif;
  cursor: pointer;
  font-size: 2.3rem;
  margin: 30px auto;
}

.section1 button:hover {
  background-color: transparent;
  border: 3px solid green;
  color: var(--green);
}

.section2 .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 6vw;
  gap: 55px;
}

.section2 .container .main-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.section2 .content-location {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 18px;
}

.circle {
  width: 50px;
  height: 50px;
  background: #fc5400;
  border-radius: 50%;
}

.section2 .content-location i {
  /* fix */
  font-size: 2.5rem;
  margin-top: 10px;
  margin-left: 15px;
  color: var(--white);
}

.section2 .content-location .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section2 .content-location .text h3 {
  font-size: 2.5rem;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
}

.section2 .content-location p {
  font-size: 1.5rem;
  margin-top: 5px;
}

input[type="text"] {
  /* fix */
  width: 15vw;
  padding: 12px 20px;
  margin: 10px;
  border: 1px solid #000;
  font-size: 1.8rem;
  letter-spacing: 1px;
  background-color: transparent;
}

input[type="text"]::placeholder {
  color: var(--white);
  letter-spacing: 1px;
}

form .input-column input {
  width: 31vw;
  display: flex;
  letter-spacing: 1px;
  flex-direction: column;
}

textarea {
  border: 1px solid #000;
  background-color: transparent;
  margin-left: 10px;
  letter-spacing: 1px;
  width: 31vw;
  height: 16vh;
}

textarea::placeholder {
  color: var(--white);
  font-size: 1.8rem;
  position: relative;
  left: 18px;
}

.section2 form button {
  background-color: #fc5400;
  color: var(--white);
  padding: 15px 31px;
  text-transform: uppercase;
  border-radius: 25px;
  margin-top: 15px;
  margin-left: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  cursor: pointer;
}

footer {
  width: 100vw;
  height: 100vh;
  background-color: #1b1a18;
  position: relative;
  top: 100px;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 200px;
  position: relative;
  top: 130px;
  align-items: flex-start;
}

footer .logo {
  font-size: 3rem;
  font-weight: bolder;
  color: var(--white);
}

footer .logo i {
  padding-right: 0.5rem;
  color: var(--green);
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer .content p {
  font-size: 1.8rem;
  line-height: 35px;
  color: var(--white);
  position: relative;
  top: 30px;
}

footer .content ul {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 50px;
  gap: 25px;
  cursor: pointer;
  list-style: none;
}

footer .content ul li i {
  color: var(--green);
  font-size: 2rem;
}

footer .content1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  align-items: center;
}

footer .content1 h1 {
  color: var(--white);
  font-size: 2.8rem;
}

footer .content1 ul {
  list-style: none;
  text-decoration: none;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

footer .content1 li a {
  color: var(--white);
  font-size: 2.2rem;
  position: relative;
  top: 30px;
}

footer .content1 li a:hover {
  color: var(--green);
  text-decoration: underline;
}

footer .content2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  align-items: center;
}

footer .content2 h1 {
  color: var(--white);
  font-size: 2.8rem;
}

footer .content2 ul {
  list-style: none;
  text-decoration: none;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

footer .content2 li a {
  color: var(--white);
  font-size: 2.2rem;
  position: relative;
  top: 30px;
}

footer .content2 li a:hover {
  color: var(--green);
  text-decoration: underline;
}

footer .content3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .content3 .content-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  top: 50px;
}

footer .content3 h1 {
  color: var(--white);
  font-size: 2.8rem;
}

footer .content3 p {
  font-size: 2.2rem;
  line-height: 35px;
  color: var(--white);
}

footer .content3 a {
  text-decoration: none;
  color: var(--white);
  font-size: 2.2rem;
}

/* media queries */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-bar {
    display: initial;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--lighter-black);
    border-top: 0.1rem solid #000 rgba(0, 0, 0, 0.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a {
    margin: 1.5rem;
    padding: 1.5rem;
    display: block;
    border: 0.2rem solid rgba(0, 0, 0, 0.1);
    border-left: 0.5rem solid var(--green);
    background: var(--lighter-black);
  }

  header .phone a {
    font-size: 1.5rem;
    color: var(--white);
    border: 2px solid var(--green);
    border-radius: 50px;
    padding: 5px 5px;
  }

  .section1 .content h2 {
    font-size: 5.5rem;
    text-align: center;
  }

  .section2 .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    left: 15px;
    justify-content: center;
  }

  input[type="text"] {
    /* fix */
    width: 40vw;
    padding: 12px 20px;
    margin: 10px;
    margin-left: 0;
    border: 1px solid #000;
    font-size: 1.8rem;
    background-color: transparent;
  }

  .section2 .form .input-column {
    width: 50vw;
  }

  textarea {
    width: 85vw;
    height: 35vh;
    position: relative;
    right: 8px;
  }

  footer {
    width: 100vw;
    height: 200vh;
  }

  footer .main-content {
    top: 50px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    left: 15px;
  }

  footer .content {
    margin-top: 10px;
  }

  footer .content1 {
    position: relative;
    top: 15px;
    gap: 5px;
  }

  footer .content1 ul {
    position: relative;
    left: -32px;
  }

  footer .content1 {
    position: relative;
    top: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
  }

  footer .content2 {
    gap: 5px;
  }

  footer .content2 h1 {
    position: relative;
    right: 10px;
  }

  footer .content3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  footer .content3 .content-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    top: 30px;
  }
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #menu-bar {
    display: initial;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--lighter-black);
    border-top: 0.1rem solid #000 rgba(0, 0, 0, 0.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a {
    margin: 1.5rem;
    padding: 1.5rem;
    display: block;
    border: 0.2rem solid rgba(0, 0, 0, 0.1);
    border-left: 0.5rem solid var(--green);
    background: var(--lighter-black);
  }

  header .phone a {
    font-size: 2rem;
    color: var(--white);
    border: 2px solid var(--green);
    border-radius: 50px;
    padding: 5px 5px;
  }

  .section1 .content h2 {
    font-size: 5.5rem;
    text-align: center;
  }

  input[type="text"] {
    /* fix */
    width: 23.8vw;
    padding: 12px 20px;
    margin: 10px;
  }

  form .input-column input {
    width: 50vw;
  }

  textarea {
    width: 50vw;
    height: 35vh;
  }

  .section2 form button {
    padding: 15px 27px;
  }

  footer {
    width: 100vw;
    height: 200vh;
  }

  footer .main-content {
    top: 50px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    left: 15px;
  }

  footer .content {
    margin-top: 10px;
  }

  footer .content1 {
    position: relative;
    top: 15px;
    gap: 5px;
  }

  footer .content1 ul {
    position: relative;
    left: -32px;
  }

  footer .content1 {
    position: relative;
    top: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
  }

  footer .content2 {
    gap: 5px;
  }

  footer .content2 h1 {
    position: relative;
    right: 10px;
  }

  footer .content3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  footer .content3 .content-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    top: 30px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 50%;
  }

  header {
    padding: 2rem;
  }
}
